<%= lev_form_for :ecosystem, url: ecosystems_path do |f| %>
  <div class="form-group">
    <%= f.label :manifest, 'Ecosystem Manifest (.yml)' %>
    <%= f.file_field :manifest, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_field :comments, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.check_box :books, { checked: true }, 'update', 'keep' %>
    <%= f.label :books, 'Update book version' %>
  </div>

  <div class="form-group">
    <%= f.radio_button :exercises, :discard, checked: true %>
    <%= f.label :exercises_discard, 'Discard exercise information (update numbers and versions)' %>
  </div>

  <div class="form-group">
    <%= f.radio_button :exercises, :update %>
    <%= f.label :exercises_update, 'Update exercise versions (keep numbers)' %>
  </div>

  <div class="form-group">
    <%= f.radio_button :exercises, :keep %>
    <%= f.label :exercises_keep, 'Keep exercise numbers and versions' %>
  </div>

  <%= f.submit 'Import', class: 'btn btn-default',
                         data: { disable_with: 'Import will likely take a while...' } %>
<% end %>
