<%= form_with url: ecosystems_path do |form| %>
  <div class="form-group">
    <%= form.label :pipeline_version, 'Content pipeline code version' %>
    <% if @pipeline_versions.nil? %>
      <%= text_field_tag(
        :pipeline_version, @pipeline_version, class: 'form-control', 'data-turbolinks-reload': true
      ) %>
    <% else %>
      <%= select_tag(
        :pipeline_version,
        options_for_select(@pipeline_versions, @pipeline_version),
        class: 'form-control',
        'data-turbolinks-reload': true
      ) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :repository_name, 'Collection' %>
    <%= select_tag(
      :repository_name,
      options_for_select(@collections, @repository_name),
      class: 'form-control',
      'data-turbolinks-reload': true
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :content_version, 'Content version' %>
    <% if @content_versions.nil? %>
      <%= text_field_tag(
        :content_version, @content_version, class: 'form-control', 'data-turbolinks-reload': true
      ) %>
    <% else %>
      <%= select_tag(
        :content_version, options_for_select(@content_versions, @content_version),
        class: 'form-control',
        'data-turbolinks-reload': true
      ) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :reading_processing_instructions, 'Reading Processing Instructions' %>
    <%= text_area_tag(
      :reading_processing_instructions, @reading_processing_instructions,
      cols: 100, rows: @reading_processing_instructions.chomp.lines.count + 1, class: 'form-control'
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :comments, 'Comments' %>
    <%= text_field_tag :comments, '', class: 'form-control' %>
  </div>

  <%= form.submit(
    'Import', class: 'btn btn-default',
              data: { disable_with: 'Import will likely take a while...' }
  ) %>
<% end %>
