<%= lev_form_for :ecosystem, url: ecosystems_path do |f| %>
  <div class="form-group">
    <%= f.label :manifest, 'Ecosystem Manifest (.yml)' %>
    <%= f.file_field :manifest, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_field :comments, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :update_book, 'Update book version in the manifest' %>
    <%= f.check_box :update_book %>
  </div>

  <div class="form-group">
    <%= f.label :unlock_exercises, 'Update exercises in the manifest (numbers and versions)' %>
    <%= f.check_box :unlock_exercises %>
  </div>

  <%= f.submit 'Import', class: 'btn btn-default',
                         data: { disable_with: 'Import will likely take a while...' } %>
<% end %>
