<%= lev_form_for :ecosystem do |f| %>
  <div class="form-group">
    <%= f.label :manifest, 'Ecosystem Manifest (yml file)' %>
    <%= f.file_field :manifest, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :comments %>
    <%= f.text_field :comments, class: 'form-control' %>
  </div>

  <%= f.submit 'Import', class: 'btn btn-default',
                         data: { disable_with: 'Import will likely take a while...' } %>
<% end %>
