<%= form_with url: ecosystems_path do |form| %>
  <div class="form-group">
    <%= form.label :code_version, 'Content Pipeline code version' %>
    <% if @code_versions.nil? %>
      <%= text_field_tag(
        :code_version, @code_version, class: 'form-control', 'data-turbolinks-reload': true
      ) %>
    <% else %>
      <%= select_tag(
        :code_version,
        options_for_select(@code_versions, @code_version),
        class: 'form-control',
        'data-turbolinks-reload': true
      ) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :collection_id, 'Collection' %>
    <%= select_tag(
      :collection_id,
      options_for_select(@collections, @collection_id),
      class: 'form-control',
      'data-turbolinks-reload': true
    ) %>
  </div>

  <div class="form-group">
    <%= form.label :book_version, 'Book version' %>
    <% if @book_versions.nil? %>
      <%= text_field_tag(
        :book_version, @book_version, class: 'form-control', 'data-turbolinks-reload': true
      ) %>
    <% else %>
      <%= select_tag(
        :book_version, options_for_select(@book_versions, @book_version),
        class: 'form-control',
        'data-turbolinks-reload': true
      ) %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :reading_processing_instructions, 'Reading Processing Instructions' %>
    <%= text_area_tag(
      :reading_processing_instructions, @reading_processing_instructions,
      cols: 100, rows: @reading_processing_instructions.chomp.lines.count + 1, class: 'form-control'
    ) %>
  </div>

  <%= form.submit(
    'Import', class: 'btn btn-default',
              data: { disable_with: 'Import will likely take a while...' }
  ) %>
<% end %>
