<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Book Title</th>
      <th>Comments</th>
      <th>Book Version</th>
      <th>Import Date</th>
      <th>Link to Archive</th>
      <th>Book UUID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% ecosystems.each do |ecosystem| %>
    <% book = ecosystem.books.first %>

  <tr>
      <td><%= ecosystem.id %></td>
      <td><%= book.title %></td>
      <td>
        <% if ecosystem_path.nil? %>
          <%= ecosystem.comments %>
        <% else %>
          <%= form_for(ecosystem.to_model,
                       as: :ecosystem,
                       url: ecosystem_path.call(ecosystem.id),
                       method: :put,
                       html: { class: 'form-inline' }) do |f| %>
            <%= f.text_field :comments, class: 'form-control' %>
            <%= f.submit 'Save', class: 'btn btn-xs btn-primary' %>
          <% end %>
        <% end %>
      </td>
      <td><%= book.version %></td>
      <td><%= ecosystem.imported_at %></td>
      <td><%= link_to 'Archive', book.url, target: '_blank',
                                           class: 'btn btn-xs btn-primary' %></td>
      <td data-toggle="popover"
          data-container="body"
          data-placement="top"
          data-content="<%= book.uuid %>"
      >
        <%= book.uuid[0...6] %>
      </td>
      <td><%= link_to 'Download Manifest',
                      manifest_path.call(ecosystem.id),
                      role: 'button',
                      tabindex: 1,
                      class: 'btn btn-xs btn-secondary' %></td>
      <td>
        <% if !ecosystem_path.nil? && ecosystem.deletable? %>
          <%= link_to 'Delete', ecosystem_path.call(ecosystem.id),
                                method: :delete,
                                data: {
                                  confirm: "Are you sure you want to delete #{ecosystem.books.first.title}?"
                                },
                                class: 'btn btn-xs btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
