<table class="table table-striped">
  <thead>
    <tr>
      <th>Book Title</th>
      <th>Comments</th>
      <th>Book Version</th>
      <th>Import Date</th>
      <th>Link to Archive</th>
      <th>Book UUID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% ecosystems.each do |ecosystem| %>
    <% book = ecosystem.books.first %>

    <tr>
      <td><%= book.title %></td>
      <td><%= ecosystem.comments %></td>
      <td><%= book.version %></td>
      <td><%= ecosystem.imported_at %></td>
      <td><%= link_to 'Archive', book.url, target: '_blank',
                                           class: 'btn btn-xs btn-primary' %></td>
      <td><%= link_to 'Show UUID', '#', role: 'button',
                                        tabindex: 0,
                                        data: { toggle: 'popover',
                                                trigger: 'focus',
                                                placement: 'top',
                                                content: book.uuid,
                                                container: 'body' },
                                        class: 'btn btn-xs btn-secondary' %></td>
      <td>
        <% if !destroy_path.nil? && ecosystem.deletable? %>
          <%= link_to 'Delete', destroy_path.call(ecosystem.id),
                                method: :delete,
                                data: {
                                  confirm: "Are you sure you want to delete #{ecosystem.books.first.title}?"
                                },
                                class: 'btn btn-xs btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
