<% @page_header = "Time Travel" %>

<div>
  <h3>Current Time</h3>
  <div><%= Time.current %></div>
</div>

<div>
  <h3>Reset Time</h3>
  <%= button_to 'Reset',
                admin_reset_time_path,
                method: :put,
                class: 'btn btn-primary' %>
</div>

<div>
  <h3>Time Travel</h3>
  <%= form_tag admin_time_travel_path,
               method: :post do %>
    <div class="field">
      <%= label_tag :new_time %>
      <%= text_field_tag :new_time, nil, class: 'datepicker' %>
      <%= select_tag :time_zone, time_zone_options_for_select('Pacific Time (US & Canada)', ActiveSupport::TimeZone.us_zones) %>
    </div>
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  <% end %>
</div>
