<% @page_header = "#{@job.state.name.titleize} job : #{@job.id}" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Progress</th>
      <th>Errors</th>
      <th>Custom</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class='job_progress'>
        <%= number_to_percentage(@job.progress * 100, precision: 0) %>
      </td>

      <td class='job_errors'>
        <% @job.errors.each do |error| %>
          <p><%= error['code'] %> - <%= error['message'] %></p>
        <% end %>
      </td>

      <td class='job_custom'>
        <% @custom_fields.each do |key, value| %>
          <p class='job_<%= key %>'>
            <strong><%= key.titleize %></strong><br>
            <%= value %>
          </p>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
