<% @page_header = "Salesforce / Tutor Integration" %>

<h3>API User Setup</h3>

<p>When Tutor makes calls to Salesforce's API, it must do so on behalf of a
  specific Salesforce user.  At any one time, Tutor has information for either
  zero or one such user.  Use the link below to set the current user that Tutor
  acts as when calling the Salesforce API.</p>

<div style="margin: 30px 0px">
<p>
<% if @user.present? %>
  The current Salesforce user is <b><%= @user.name || "[Unknown Name]" %></b>.
<% else %>
  There <b>is no</b> Salesforce user currently set.
<% end %>
</p>
</div>

<%= link_to "Set Tutor's Salesforce User", "/auth/salesforce?redirect_uri=http://localhost:3001/auth/salesforce/callback", id: "sign_in", class: 'btn btn-primary' %>

<%= link_to "Clear Salesforce User", destroy_user_admin_salesforce_path, class: 'btn btn-danger pull-right', method: :delete %>

<hr/>

<h3>Update Salesforce Stats</h3>

<p>Use the button below to trigger an update of Salesforce statistics from the latest data in Tutor.  This will only update SF records for which Tutor records have been created (either via a manual or scheduled call to the import functionality above).</p>

<%= form_tag(update_salesforce_admin_salesforce_path, method: :put, style: 'margin: 30px 0') do %>
  <%= submit_tag 'Update Salesforce', class: 'btn btn-primary' %>
<% end %>

<p><i>This action is called automatically on
   <a href="https://github.com/openstax/tutor-server/blob/master/config/schedule.rb">the schedule shown here.</a>
</i></p>
