<div id='offering_<%= offering.id %>' class='underlined-spaced-row'>
  <span>
    <b>ID:</b> <%= offering.id %>
  </span>
  <span style='float: right'>
    <%= link_to 'List courses',
                admin_courses_path(query: "offering_id:\"#{offering.id}\"", per_page: 'all') %>

    |

    <%= link_to 'Edit',
                edit_admin_catalog_offering_url(offering.id, anchor: "offering_#{offering.id}") %>

    |

    <% if offering.deleted? %>
      <%= link_to 'Restore', restore_admin_catalog_offering_url(offering.id),
                  method: :put, data: { confirm: "Restore #{offering.title}?" } %>
    <% else %>
      <%= link_to 'Delete', admin_catalog_offering_url(offering.id),
                  method: :delete, data: { confirm: "Delete #{offering.title}?" } %>
    <% end %>
  </span>
  <div>
    <b>Number:</b> <%= offering.number %>
  </div>
  <div>
    <b>Title:</b> <%= offering.title %>
  </div>
  <div>
    <b>Description:</b> <%= offering.description %>
  </div>
  <div>
    <b>Book name:</b> <%= offering.salesforce_book_name %>
  </div>
  <div>
    <b>Appearance code:</b> <%= offering.appearance_code || 'not set' %>
  </div>
  <div>
    <b>Ecosystem:</b> <%= offering.ecosystem ? offering.ecosystem.unique_title : 'not set' %>
  </div>
  <div>
    <b>Available for preview courses:</b> <%= tf_to_yn(offering.is_preview_available) %>
  </div>
  <div>
    <b>Available for real courses:</b> <%= tf_to_yn(offering.is_available) %>
  </div>
  <div>
    <b>Message displayed when a preview course is created:</b> <%= offering.preview_message %>
  </div>
  <div>
    <b>Costs students:</b> <%= tf_to_yn(offering.does_cost) %>
  </div>
  <div>
    <b>PDF URL:</b> <%= link_to offering.pdf_url, offering.pdf_url %>
  </div>
  <div>
    <b>Webview:</b> <%= link_to offering.webview_url, offering.webview_url %>
  </div>
  <div>
    <b>Default Course Name:</b> <%= offering.default_course_name || '[not set]' %>
    <span style="float: right">
      <b>Full Tutor?</b>&nbsp;&nbsp;&nbsp;<%= tf_to_yn(offering.is_tutor) %>&nbsp;&nbsp;&nbsp;&nbsp;
      <b>CC?</b>&nbsp;&nbsp;&nbsp;<%= tf_to_yn(offering.is_concept_coach) %>
    </span>
  </div>
</div>
