<tr>
  <td><%= offering.identifier %></td>
  <td><%= offering.description %></td>
  <td><%= offering.ecosystem ? offering.ecosystem.title : 'not set' %></td>
  <td><%= offering.is_tutor? %></td>
  <td><%= offering.is_concept_coach? %></td>
  <td><%= link_to offering.pdf_url, offering.pdf_url %></td>
  <td><%= link_to offering.webview_url, offering.webview_url %></td>
  <td><%= link_to 'Edit', edit_admin_catalog_offering_url(offering) %></td>
</tr>
