<%
  # Clients of this partial must provide the following variable:
  # fields
  # Additionally, they may override the following variables:
  name ||= 'Task plan'
  options ||= {}
%>

<div class="form-group">
  <%= fields.label :title %>
  <%=
    fields.text_field :title, options.merge(
      class: 'form-control', required: true, placeholder: "Required (unless #{name} is removed)"
    )
  %>
</div>

<div class="form-group">
  <%= fields.label :type %>
  <%=
    fields.select(
      :type,
      [ [ '(Required)', '' ], [ 'Reading', 'reading' ], [ 'Homework', 'homework' ] ],
      {},
      options.merge(class: 'form-control', required: true)
    )
  %>
</div>

<div class="form-group">
  <%= fields.label :exercises_count_core, 'Number of core exercises (for homework only)' %>
  <%=
    fields.number_field :exercises_count_core, options.merge(
      class: 'form-control', min: 0
    )
  %>
</div>

<div class="form-group">
  <%= fields.label :exercises_count_dynamic, 'Number of dynamic exercises' %>
  <%=
    fields.number_field :exercises_count_dynamic, options.merge(
      class: 'form-control', min: 0
    )
  %>
</div>

<div class="form-group">
  <%= fields.label :is_published, 'Publish?' %>
  <%=
    fields.select(
      :is_published,
      [
        [ 'If and only if the Task plan is new or already published', '' ],
        [ 'Yes', true ],
        [ 'No', false ]
      ],
      {},
      options.merge(class: 'form-control')
    )
  %>
</div>

<%=
  render partial: 'form_collection', locals: {
    form: fields,
    scope: :book_locations,
    partial: File.join('admin', 'demo', 'assign', 'task_plan', 'book_location')
  }
%>

<%=
  render partial: 'form_collection', locals: {
    form: fields,
    scope: :assigned_to,
    partial: File.join('admin', 'demo', 'assign', 'task_plan', 'assigned_to')
  }
%>
