<% @page_header = "Courses" %>

<%= render partial: 'manager/courses/tabs', locals: { incomplete_jobs: @incomplete_jobs,
                                                      failed_jobs: @failed_jobs } %>
<br>
<%= render partial: 'manager/courses/search', locals: { query: @query } %>

<%= render partial: 'manager/courses/index',
           locals: { course_infos: @course_infos,
                     extra_headers: 'Actions',
                     extra_fields_procs: lambda do |course_info| %>
  <td>
    <%= link_to 'List Students', customer_service_course_students_path(course_info.id),
                                 class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Show', customer_service_course_path(course_info.id), class: "btn btn-xs btn-primary" %>
  </td>
<% end } %>
