<%= link_to '<span>Show</span> completed jobs'.html_safe, '#',
            id: 'toggle_completed_jobs' %>

<table id='jobs' class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class='<%= job.status %>'>
        <td class='job_id'><%= link_to job.id, admin_job_path(job.id) %></td>
        <td class='job_status'><%= job.status %></td>
        <td class='job_progress'><%= number_to_percentage(job.progress.to_f * 100, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
