Show:
<%= link_to 'all', '#all', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'incomplete', '#incomplete', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'completed', '#completed', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'queued', '#queued', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'working', '#working', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'failed', '#failed', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'killed', '#killed', class: 'filter_job_status' %>&nbsp;|
<%= link_to 'unknown', '#unknown', class: 'filter_job_status' %>

<table id='jobs' class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Progress</th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr class='<%= job.status %>'>
        <td class='job_id'><%= link_to job.id, admin_job_path(job.id) %></td>
        <td class='job_status'><%= job.status %></td>
        <td class='job_progress'><%= number_to_percentage(job.progress.to_f * 100, precision: 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
