<% @page_header = "Studies" %>

<%= link_to 'Add Study', new_research_study_path, class: "btn btn-primary", style: "float: right" %>

<% Research::Models::Study.includes(:courses).find_each do |study| %>
  <div class="study_entry">
    <div class="study_info">
      <b><%= link_to study.name, research_study_path(study) %></b>
      (ID: <%= study.id %>)
      Created: <%= study.created_at %>

      <% active_word, color = study.active? ? ["Active", "green"] : ["Inactive", "blue"] %>
      | <span style='color:<%= color %>; font-style:italic'><%= active_word %></span>
      <%= link_to 'Delete', research_study_path(study), method: :delete, class: "btn btn-primary btn-xs", data: {confirm: "Are you sure you want to delete #{study.name}?"} %>
    </div>
  </div>
<% end %>

