<%= link_to 'Edit', edit_research_study_path(@study), class: "btn btn-primary", style: "float: right" %>

<% if @study.active? %>
  <%= link_to 'Deactivate', deactivate_research_study_path(@study),
                            class: "btn btn-primary", style: "float: right; clear: both; margin-top: 20px",
                            method: :put,
                            data: { confirm: "Are you sure you want to deactivate #{@study.name}?"} %>
<% else %>
  <%= link_to 'Activate', activate_research_study_path(@study),
                          class: "btn btn-primary", style: "float: right; clear: both; margin-top: 20px",
                          method: :put,
                          data: { confirm: "Are you sure you want to activate #{@study.name}?"} %>
<% end %>

<h3>Info</h3>

<div class="study_entry">
  <div class="study_info">
    <b><%= @study.name %></b>
    (ID: <%= @study.id %>)
    Created: <%= @study.created_at %>
    | <%= @study.active? ? "Active" : "Inactive" %> |
    Activate at: <%= @study.activate_at || "Not set" %> |
    Deactivate at: <%= @study.deactivate_at || "Not set" %>
  </div>
  <div class="course_listing">
    <div class="course_listing_title">Courses:</div>
    <div class="course_listing_entries">
      <% Research::Models::StudyCourse.where(study: @study).includes(:course).each do |study_course| %>
        <% course = study_course.course %>
        <div class="course_entry">
          <%= course.name %> (ID: <%= course.id %>)
          <% if !@study.ever_active? %>
            <%= link_to "Remove", research_study_course_path(study_course), method: :delete, data: { confirm: "Are you sure you want to remove course #{course.name}?" } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="course_listing">
    <div class="course_listing_title">Cohorts:</div>
    <div class="course_listing_entries">
      <% @study.cohorts.each do |cohort| %>
        <div class="cohort_entry">
          <%= link_to cohort.name, research_cohort_path(cohort) %> / ID: <%= cohort.id %> / <%= cohort.cohort_members_count %> Members
        </div>
      <% end %>
      <% if !@study.active? %>
        <%= link_to "Add new cohort", new_research_study_cohort_path(@study) %>
      <% end %>
    </div>
  </div>
</div>

<h3>Add Courses</h3>

<%= render partial: 'shared/courses/search',
           locals: {
             course_infos: @course_infos,
             query: @query,
             order_by: @order_by,
             total_count: @course_infos.try(:count),
             page: params[:page] || 1,
             per_page: params[:per_page] || Research::StudiesController.default_per_page,
             search_path: research_study_path(@study),
             bulk_actions_path: research_study_study_courses_path(@study),
             bulk_actions: ->() do %>
              <div class="form-group input-group">
                <span class="input-group-btn">
                  <%= submit_tag 'Add selected courses to study (can be slow)', class: 'btn btn-primary' %>
                </span>
              </div>
             <% end
            }  %>
