<% method ||= :post %>

<%= lev_form_for :tag, url: url, method: method, html: {class: 'form-horizontal'} do |f| %>
  <div class='form-group'>
    <%= f.label :value, value: 'ID', class: 'col-sm-2 control-label' %>
    <%= f.text_field :value, disabled: 'disabled' %>
  </div>

  <div class='form-group'>
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <%= f.text_field :name, size: 50 %>
  </div>

  <div class='form-group'>
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <%= f.text_area :description, rows: 5, cols: 50 %>
  </div>

  <div class='form-group'>
    <%= f.label :visible, class: 'col-sm-2 control-label' %>
    <%= f.check_box :visible %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
