<% @page_header = "Targeted Contracts" %>

<%= link_to 'Add Targeted Contract', new_admin_targeted_contract_path, class: 'btn btn-primary' %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Target</th>
      <th>Contract</th>
      <th>Masked Contracts</th>
      <th>Proxy Signed?</th>
      <th>Can Show Contents?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.target_name %></td>
        <td><%= contract.contract_name.to_s %></td>
        <td><%= contract.masked_contract_names.join(', ') %></td>
        <td><%= tf_to_yn(contract.is_proxy_signed) %></td>
        <td><%= tf_to_yn(contract.is_end_user_visible) %></td>
        <td>
          <%= link_to 'edit', '#', class: 'btn btn-xs btn-primary edit' %>
          <%= link_to 'delete', admin_targeted_contract_path(contract.id),
                                method: :delete,
                                data: {
                                  confirm: "Are you sure you want to delete this contract?"
                                },
                                class: 'btn btn-xs btn-secondary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type='text/javascript'>
$(document).ready(function() {
  $('.edit').click(function(event){
    alert('There is no edit yet, only delete and create again (quickly).');
    event.preventDefault(); // Prevent link from following its href
  });
});
</script>
