<%= form_for @school, as: :school, url: url do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :district_id, 'District' %>
    <%= f.collection_select :district_id,
                            @districts,
                            :id, :name,
                            { include_blank: true },
                            class: 'form-control' %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
