<% extra_headers ||= [] %>
<% extra_fields_procs ||= [] %>
<% bulk_actions ||= false %>
<% incomplete_jobs ||= [] %>
<% failed_jobs ||= [] %>
<% total_count ||= course_infos.try(:count) %>

<div>Showing <%= total_count %> total</div>

<% page ||= 1 %>
<% per_page = per_page == 'all' ? total_count : per_page.to_i %>
<% per_page = 25 if per_page == 0 %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="main">

    <%
    pagination = will_paginate(
      WillPaginate::Collection.create(page, per_page, total_count) do |pager|
        pager.replace course_infos
      end
    )
    %>

    <%= pagination %>

    <div style="margin-bottom: 10px;">
    <% if bulk_actions %>
        <%= check_box_tag 'courses_select_all', nil, checked = true, id: 'courses_select_all' %>
         Select All
    <% end %>
    </div>

    <% course_infos.each do |course_info| %>
      <div class="stats-card">
        <div class="card-header">
          <% if bulk_actions %>
              <% course_selected = params[:course_id].blank? ?
                                     true : params[:course_id].include?(course_info.id) %>
              <%= check_box_tag 'course_id[]',
                                course_info.id,
                                checked = course_selected,
                                class: 'course_id_select',
                                id: "course_id_#{course_info.id}" %>
            <% end %>

          <span class="course-info-id">
            <%= "#{course_info.id}" %>
          </span>
          <span class="course-info-name"><%= " #{course_info.name}" %></span>
          <%= " / #{course_info.teachers.map(&:name).to_sentence}" \
                unless course_info.teachers.blank? %>
          <span class="course-info-school">
            <%= " / #{course_info.school_name}" if course_info.school %>
          </span>
        </div>
        <div class="card-body">
          <div class="card-content-left">
            <div class="content-top">
              <% ecosystem = course_info.ecosystems.first %>

              <% unless ecosystem.nil? %>
                <%= "(ID #{ecosystem.id})" %> <%= ecosystem.title %>

                <span class="ecosystem-created-at" style="white-space: nowrap;">
                  <%= "(#{ecosystem.created_at})" %>
                </span>
              <% end %>
            </div>
            <div class="content-middle">
              <%= ecosystem.try(:comments) %>
            </div>
            <div class="content-bottom">
              <div class="course-duration" style="white-space: nowrap;">
                Term: <%= course_info.starts_at.strftime('%b %d, %Y') %>
                    - <%= course_info.ends_at.strftime('%b %d, %Y') %>
              </div>
              <%= "CC /" if course_info.is_concept_coach %>
              <%= course_info.is_college ? "College /" : "High School /" \
                    unless course_info.is_college.nil? %>
              <%= "#{course_info.periods_with_deleted.map do |period|
                       period.latest_enrollments_with_deleted.length
                     end.reduce(0, :+)} students /" %>
              <%= "#{course_info.periods_with_deleted.length} periods" %> /
              <%= course_info.does_cost ? "Does Cost" : "Does NOT Cost" %>
            </div>
          </div>
          <div class="card-content-right">
            <% [extra_fields_procs].flatten.each do |extra_fields_proc| %>
              <span>
                <%= capture(course_info, &extra_fields_proc) unless extra_fields_proc.nil? %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= pagination %>

    <% if bulk_actions %>
      <div id="courses-bulk-actions">
        <div class="form-group input-group">
          <%= select_tag :ecosystem_id,
                         options_from_collection_for_select(
                           @ecosystems, :id, :unique_title, params[:ecosystem_id]
                         ),
                         include_blank: '-- Select an ecosystem --',
                         class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag 'Set Ecosystem', class: 'btn btn-primary' %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <% unless incomplete_jobs.empty? %>
    <div role="tabpanel" class="tab-pane" id="incomplete">
      <%= render partial: 'manager/courses/jobs',
                 locals: { jobs: incomplete_jobs, job_path_proc: job_path_proc } %>
    </div>
  <% end %>
  <% unless failed_jobs.empty? %>
    <div role="tabpanel" class="tab-pane" id="failed">
      <%= render partial: 'manager/courses/jobs',
                 locals: { jobs: failed_jobs, status: 'Failed', job_path_proc: job_path_proc } %>
    </div>
  <% end %>
</div>
