<% extra_headers ||= [] %>
<% extra_fields_proc ||= nil %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>School</th>
      <th>Teacher(s)</th>
      <% [extra_headers].flatten.each do |extra_header| %>
      <th><%= extra_header %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% course_infos.each do |course_info| %>
      <tr>
        <td><%= course_info.name %></td>
        <td><%= course_info.school_name %></td>
        <td><%= course_info.teacher_names.to_sentence %></td>
        <%= capture(course_info, &extra_fields_proc) unless extra_fields_proc.nil? %>
      </tr>
    <% end %>
  </tbody>
</table>
