<% extra_headers ||= [] %>
<% extra_fields_procs ||= [] %>
<% bulk_actions ||= false %>
<% incomplete_jobs ||= [] %>
<% failed_jobs ||= [] %>
<% total_count ||= course_infos.try(:count) %>

<div>Showing <%= total_count %> total</div>

<% page ||= 1 %>
<% per_page ||= 25 %>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="main">

    <%
    pagination = will_paginate(
      WillPaginate::Collection.create(page, per_page, total_count) do |pager|
        pager.replace course_infos
      end
    )
    %>

    <%= pagination %>

    <div style="margin-bottom: 10px;">
    <% if bulk_actions %>
        <%= check_box_tag 'courses_select_all', nil, checked = true, id: 'courses_select_all' %>
         Select All
    <% end %>
    </div>

    <% course_infos.each do |course_info| %>
      <div class="stats-card">
        <div class="card-header">
          <% if bulk_actions %>
              <% course_selected = params[:course_id].blank? ? true : params[:course_id].include?(course_info.id) %>
              <%= check_box_tag 'course_id[]',
                                course_info.id,
                                checked = course_selected,
                                class: 'course_id_select',
                                id: "course_id_#{course_info.id}" %>
            <% end %>

          <span class="course-info-id">
            <%= "#{course_info.id}" %>
          </span>
          <span class="course-info-name"><%= " #{course_info.name}" %></span>
          <%= " / #{course_info.teachers.map(&:name).to_sentence}" unless course_info.teachers.blank? %>
          <span class="course-info-profile-school">
            <%= " / #{course_info.profile.school.name}" if course_info.profile.try(:school) %>
          </span>
        </div>
        <div class="card-body">
          <div class="card-content-left">
            <div class="content-top">
              <% ecosystem = course_info.ecosystems.first %>
              <% book = ecosystem.nil? ? '' : ecosystem.books.first %>

              <% unless book.blank? %>
                <%= "(ID #{book.id})" %> <%= book.title %> <%= "(#{book.uuid}@#{book.version})" %>
              <% end %>
              <span class="ecosystem-created-at" style="white-space: nowrap;">
                <%= "(#{ecosystem.created_at})" if ecosystem %>
              </span>
            </div>
            <div class="content-middle">
              <%= ecosystem.try(:comments) %>
            </div>
            <div class="content-bottom">
              <%= "CC / " if course_info.is_concept_coach %> <%= "College / " if course_info.is_college %>
              <%= "#{course_info.periods_with_deleted.map{|p| p.latest_enrollments_with_deleted.length}.reduce(0, :+)} students" %> <%= " / #{course_info.periods_with_deleted.length} periods" %>
            </div>
          </div>
          <div class="card-content-right">
            <% [extra_fields_procs].flatten.each do |extra_fields_proc| %>
              <span>
                <%= capture(course_info, &extra_fields_proc) unless extra_fields_proc.nil? %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <%= pagination %>

    <% if bulk_actions %>
      <div id="courses-bulk-actions">
        <div class="form-group input-group">
          <%= select_tag :ecosystem_id,
                         options_from_collection_for_select(@ecosystems, :id, :unique_title, params[:ecosystem_id]),
                         include_blank: '-- Select an ecosystem --',
                         class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag 'Set Ecosystem', class: 'btn btn-primary' %>
          </span>
        </div>
      </div>
    <% end %>
  </div>

  <% unless incomplete_jobs.blank? %>
    <div role="tabpanel" class="tab-pane" id="incomplete">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Job ID</th>
            <th>Status</th>
            <th>Course</th>
            <th>Ecosystem Title</th>
          </tr>
        </thead>
        <tbody>
        <% incomplete_jobs.each do |job| %>
          <tr>
            <td><%= link_to(job["id"], @job_path_proc.call(job["id"])) %></td>
            <td><%= job["state_name"] %></td>
            <td><%= job["course_profile_profile_name"] %></td>
            <td><%= job["course_ecosystem"] %></td>
          </tr>
        <% end %>
      </table>

      <p><strong>Note:</strong> This table does not automatically refresh.</p>
    </div>
  <% end %>

  <% unless failed_jobs.empty? %>
    <div role="tabpanel" class="tab-pane" id="failed">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Job ID</th>
            <th>Status</th>
            <th>Course</th>
            <th>Ecosystem Title</th>
          </tr>
        </thead>
        <tbody>
        <% failed_jobs.each do |job| %>
          <tr>
            <td><%= link_to(job["id"], @job_path_proc.call(job["id"])) %></td>
            <td><%= job["state_name"] %></td>
            <td><%= job["course_profile_profile_name"] %></td>
            <td><%= job["course_ecosystem"] %></td>
          </tr>
        <% end %>
      </table>

      <p><strong>Note:</strong> This table does not automatically refresh.</p>
    </div>
  <% end %>
</div>
