<%
  # Clients of this partial must provide the following variables:
  # form
  # scope
  # partial
  # Additionally, they may override the following variables:
  collection ||= form.object[scope] if form.respond_to?(:object)
  options ||= {}
  name ||= scope.to_s.singularize.humanize
%>

<div class="collection form-group">
  <%= form.label scope %>

  <%= form.fields scope, model: collection do |fields| %>
    <ul class="template">
      <%=
        render partial: 'form_collection_item', locals: {
          form: fields, partial: partial, options: options.merge(disabled: true), name: name
        }
      %>
    </ul>
    <ol class="list">
      <% (fields.object || []).each do |item| %>
        <%=
          render partial: 'form_collection_item',
          locals: { form: fields, partial: partial, name: name, item: item }
        %>
      <% end %>
    </ol>
  <% end %>

  <%= link_to "Add #{name}", '#', remote: true, class: 'add' %>
</div>
