<% @page_header = "Targeted Contracts" %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Target</th>
      <th>Contract</th>
      <th>Masked Contracts</th>
      <th>Proxy Signed?</th>
      <th>Can Show Contents?</th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
      <tr>
        <td><%= contract.target_name %></td>
        <td><%= contract.contract_name.to_s %></td>
        <td><%= contract.masked_contract_names.join(', ') %></td>
        <td><%= tf_to_yn(contract.is_proxy_signed) %></td>
        <td><%= tf_to_yn(contract.is_end_user_visible) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
