<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
  <title>OpenStax Tutor</title>

  <% unless is_real_production_site? # Keep google away from -dev etc %>
    <meta name="robots" content="noindex">
  <% end %>

  <meta http-equiv="content-type" content="text/html; charset=UTF8" />
  <%= render 'layouts/meta' %>
  <%= javascript_pack_tag 'homepage' %>
  <%= csrf_meta_tags %>
  <%= render 'webview/google_analytics' %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
</head>

<body id="home" class="layout-<%= @homepage[:layout] %> appearance-<%= @homepage[:layout] %>" role="main" aria-label="main content">

  <div class="wrapper">
    <header>
      <nav role="navigation">
        <a class="logo" href="#home" aria-label="home"></a>
      </nav>
      <div class="rice-logo" aria-label="Rice University"></div>
    </header>

    <div class="content">
      <h1 class="header">
        <%= @homepage[:content][:header] %>
      </h1>

      <p class="body">
        <%= @homepage[:content][:body] %>
      </p>

      <div class="login-buttons">
        <%= link_to 'Log in', openstax_accounts_login_path, class: 'button primary' %>
        <a class="button" href="https://openstax.org/openstax-tutor">Sign up</a>
      </div>
      <p class="hint">Log in with your OpenStax credentials or sign up for an account.</p>
    </div>

    <footer>
      <div class="rice-logo" aria-label="Rice University"></div>
      <div class="links">
        <%= render 'layouts/copyright_terms' %>
        <span class="sep">&middot;</span>
        <a href="http://gdpr.rice.edu/" target="_blank">GDPR</a>
      </div>
      <p class="disclaimer">
        Advanced Placement® and AP® are trademarks registered and/or owned by the College Board, which is not affiliated with, and does not endorse, this site.
      </p>
    </footer>
  </div>
</body>
</html>
