<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>OpenStax Tutor</title>

  <% unless is_real_production_site? # Keep google away from -dev etc %>
    <meta name="robots" content="noindex">
  <% end %>

  <meta http-equiv="content-type" content="text/html; charset=UTF8" />
  <%= render 'layouts/meta' %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
  <%= render 'webview/google_analytics' %>
</head>

<body id="home">
<div class="body tutor-home">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav " role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav links">
          <li><a href="<%= TUTOR_HELPDESK_URL %>" target="_blank">Help</a></li>
        </ul>
        <a class="navbar-brand-rice" href="http://www.rice.edu" target="_blank"></a>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->


<div class="body-container">
  <h1>
    Discover a new frontier in education.
  </h1>

  <p class="lead">
    OpenStax Tutor Beta gives college students the easy-to-use online courseware and
    learning tools they need to complete their course the first time around.
    And it’s all based on science. Available for College Physics, Biology,
    and Introduction to Sociology 2e.
  </p>

  <a class="learn-more" href="https://openstax.org/openstax-tutor">LEARN MORE</a>

  <%= link_to 'LOG IN', openstax_accounts_login_path, class: 'login' %>

</div>

<footer>
  <p><%= render 'layouts/copyright_terms' %></p>
</footer>
<!-- FOOTER
============================================= -->

</div>


</body>
</html>
