<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en" xml:lang="en">
<head>
  <title>OpenStax Tutor</title>

  <% unless is_real_production_site? # Keep google away from -dev etc %>
    <meta name="robots" content="noindex">
  <% end %>

  <meta http-equiv="content-type" content="text/html; charset=UTF8" />
  <%= render 'layouts/meta' %>
  <%= stylesheet_link_tag 'home', media: 'all' %>
  <%= javascript_include_tag 'home' %>
  <%= csrf_meta_tags %>
  <%= render 'webview/google_analytics' %>
</head>

<body id="home" role="main" aria-label="main content">
<div class="body tutor-home">

<!-- HEADER
============================================= -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top top-nav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#home" aria-label="home"></a>
      </div>
      <ul class="nav navbar-nav navbar-right links">
        <li><a href="<%= TUTOR_HELPDESK_URL %>" target="_blank">Help</a></li>
        <li><a class="navbar-brand-rice" href="http://www.rice.edu" target="_blank" aria-label="rice university"></a></li>
      </ul>
    </div>
    <!-- /.container -->
  </nav>
</header>
<!-- HEADER
============================================= -->


<div class="body-container">
  <h1>
    Discover a new frontier in education.
  </h1>

  <p class="lead">
    OpenStax Tutor Beta is courseware for college and high school courses.
    Available for College Physics, Biology 2e, Introduction to Sociology 2e,
    AP U.S. History, AP Physics, and AP Biology.
  </p>

  <a class="learn-more" href="https://openstax.org/openstax-tutor">LEARN MORE</a>

  <%= link_to 'LOG IN', openstax_accounts_login_path, class: 'login' %>

</div>

<footer>
  <p>
    <%= render 'layouts/copyright_terms' %>
    &middot;
    <a href="http://gdpr.rice.edu/" target="_blank">GDPR</a>
  </p>
  <p class="disclaimer">
    Advanced Placement® and AP® are trademarks registered and/or owned by the College Board, which is not affiliated with, and does not endorse, this site.
  </p>
</footer>
<!-- FOOTER
============================================= -->

</div>


</body>
</html>
