<div id="enroll" class="well">
  <h2>
    You are joining
    <br/>
    <%= render partial: 'course_identifier_sentence', locals: @handler_result.outputs.to_hash.symbolize_keys.slice(:courses, :period) %>
  </h2>
  <hr/>

  <%= lev_form_for :enroll, url: confirm_token_enroll_path, method: 'post', html: {class: 'form-inline'} do |f| %>

    <%= f.hidden_field :enrollment_token, value: params[:enroll_token] %>
    <%= f.label :enter_your_id, "Enter your school-issued student ID:" %><br/>

    <div class='form-group'>
      <%= f.text_field :student_id, class: 'form-control' %>
      <%= f.submit 'Continue', class: 'btn btn-primary', data: { disable_with: "Enroll" } %>
      <br/>
      <%= f.submit 'Skip this step for now *', class: 'btn-link', data: { disable_with: "Processing enrollment. Please wait...".html_safe } %>
      <span class="help"><sup>*</sup>You can add your student ID later by clicking on your name in the top right of your dashboard and selecting "Change student ID" from the menu.</span>
    </div>

  <% end %>

</div>
