<td class="text-center"><%= hash[:students] %></td>
<td class="text-center"><%= hash[:tasks] %></td>
<td class="text-center"><%= hash[:completed] %></td>
<td class="text-center"><%= hash[:exercises] %></td>
<td class="text-center"><%= hash[:completed_exercises] %></td>
<td class="text-center"><%= hash[:correct_exercises] %></td>
