<% @page_header = "Concept Coach Stats" %>

<table class="table concept-coach-stats">
  <thead>
    <tr>
      <th width=100%>Grouping</th>
      <th nowrap>Students</th>
      <th nowrap>CC's Accessed</th>
      <th nowrap>CC's Completed</th>
      <th nowrap>Q's Assigned</th>
      <th nowrap>Q's Answered</th>
      <th nowrap>Q's Correct</th>
    </tr>
  </thead>
  <tbody>
    <tr id="overall">
      <td><span class="h2">All Books</span></td>
      <%= render partial: 'manager/stats/concept_coach_hash', locals: { hash: @cc_stats } %>
    </tr>
  </tbody>
    <% @cc_stats[:books].each_with_index do |book_hash, bi| %>
      <tbody>
        <tr class="book">
          <td>
            <a href=".book-<%= bi %>" data-toggle="collapse" class="h3">
              <%= book_hash[:title] %>
            </a>
          </td>
          <%= render partial: 'manager/stats/concept_coach_hash', locals: { hash: book_hash } %>
        </tr>
      </tbody>
      <% book_hash[:chapters].each_with_index do |chapter_hash, ci| %>
      <tbody class="book-<%= bi %> collapse">
        <tr class="chapter">
          <td>
            &nbsp;&nbsp;
            <a href=".book-<%= bi %>-chapter-<%= ci %>" data-toggle="collapse" class="h4">
              <%= chapter_hash[:number] %>. <%= chapter_hash[:title] %>
            </span>
          </td>
          <%= render partial: 'manager/stats/concept_coach_hash', locals: { hash: chapter_hash } %>
        </tr>
        <% chapter_hash[:pages].each do |page_hash| %>
          <tr class="book-<%= bi %>-chapter-<%= ci %> collapse">
            <td>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <span class="h5">
                <%= chapter_hash[:number] %>.<%= page_hash[:number] %>. <%= page_hash[:title] %>
              </span>
            </td>
            <%= render partial: 'manager/stats/concept_coach_hash', locals: { hash: page_hash } %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% end %>
</table>
