<% @page_header = "Course Stats" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>School</th>
      <th>CC?</th>
      <th>College?</th>
      <th>Teachers</th>
      <th># Sections</th>
      <th># Students</th>
    </tr>
  </thead>
  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.id, instance_exec(course, &@course_url_proc) %></td>
      <td><%= course.name %></td>
      <td><%= course.school_name %></td>
      <td><%= course.is_concept_coach ? 'Yes' : 'No' %></td>
      <td><%= course.is_college.nil? ? 'Unknown' : (course.is_college ? 'Yes' : 'No') %></td>
      <td><%= course.teachers.map(&:name).join(', ') %></td>
      <td><%= course.periods.length %></td>
      <td><%= course.periods.to_a.sum(&:num_enrolled_students) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>
  Total: <%= pluralize @total_students, 'student' %>
  in <%= pluralize @courses.length, 'course' %>
</h3>
