<% @page_header = "Excluded Exercise Stats" %>

<h3>Total exercise exclusions: <%= @ee_by_course.length %></h3>

<h3>By Course:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Teachers</th>
      <th># Exclusions</th>
      <th>Excluded Numbers</th>
      <th>CNX Section UUID(s) with Exclusions</th>
    </tr>
  </thead>
  <tbody>
  <% @ee_by_course.each do |ee| %>
    <tr>
      <td><%= link_to ee.course_id, edit_admin_course_path(ee.course_id) %></td>
      <td><%= ee.course_name %></td>
      <td><%= ee.teachers %></td>
      <td><%= ee.ee_count %></td>
      <td><%= ee.ee_numbers_with_urls.map{|nu|
                link_to nu.ee_number, nu.ee_url
              }.join(", ").html_safe %>
      </td>
      <td><%= ee.page_uuids_with_urls.map{|pg|
                link_to pg.page_uuid, pg.page_url
              }.join(', ').html_safe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>By Exercise:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exercise Number</th>
      <th># Exclusions</th>
      <th>CNX Section UUID(s)</th>
    </tr>
  </thead>
  <tbody>
  <% @ee_by_exercise.each do |ee| %>
    <tr>
      <td><%= link_to ee.ee_number, ee.ee_url %></td>
      <td><%= ee.ee_count %></td>
      <td><%= ee.pages_with_uuids_and_urls.map { |pg|
                link_to pg.page_uuid, pg.page_url
              }.join(', ').html_safe %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
