<% @page_header = "Excluded Exercise Stats" %>

<h3>Total exercise exclusions: <%= @excluded_exercises_by_course.length %></h3>

<h3>By Course:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Course ID</th>
      <th>Course Name</th>
      <th>Course Type</th>
      <th>Teachers</th>
      <th># Exclusions</th>
      <th>Excluded Numbers</th>
      <th>Exclusion Timestamps</th>
      <th>Book Title</th>
      <th>Book UUID</th>
      <th>Book Locations</th>
      <th>Baked Book Locations</th>
      <th>CNX Section UUID(s) with Exclusions</th>
    </tr>
  </thead>
  <tbody>
  <% @excluded_exercises_by_course.each do |ee| %>
    <tr>
      <td><%= link_to ee.course_id, edit_admin_course_path(ee.course_id) %></td>
      <td><%= ee.course_name %></td>
      <td><%= ee.course_type %></td>
      <td><%= ee.teachers %></td>
      <td><%= ee.excluded_exercises_count %></td>
      <td><%= ee.excluded_exercises_hash.map do |num|
                link_to num.exercise_number, num.exercise_url
              end.join(', ').html_safe %>
      </td>
      <td><%= ee.excluded_ats.join(', ') %></td>
      <td><%= ee.book_hash[:book_title] %></td>
      <td><%= ee.book_hash[:book_uuid] %></td>
      <td><%= ee.page_hashes.map(&:book_location).join(', ') %></td>
      <td><%= ee.page_hashes.map(&:baked_book_location).join(', ') %></td>
      <td><%= ee.page_hashes.map do |pg|
                link_to pg.page_uuid, pg.page_url
              end.join(', ').html_safe %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h3>By Exercise:</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Exercise Number</th>
      <th># Exclusions</th>
      <th>CNX Section UUID(s)</th>
    </tr>
  </thead>
  <tbody>
  <% @excluded_exercises_by_exercise.each do |ee| %>
    <tr>
      <td><%= link_to ee.exercise_number, ee.exercise_url %></td>
      <td><%= ee.excluded_exercises_count %></td>
      <td><%= ee.page_hashes.map do |pg|
                link_to pg.page_uuid, pg.page_url
              end.join(', ').html_safe %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="excluded-exercises-export-form">
  <h4>Export to CSV file</h4>
  <%= lev_form_for :export, url: admin_stats_excluded_exercises_to_csv_path,
                            method: :post do |form| %>
    <%= form.collection_check_boxes :by, \
                [["course", "By Course"], ["exercise", "By Exercise"]], \
                :first, :second, {}, {checked: true} %>
    <div>
      <%= submit_tag "Export Data", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
