<% @page_header = "Research Data" %>

<h3>Export Data</h3>

<p>Use the button below to trigger an export of research data into the Box export
   folder. The export will take several minutes, so check back later.</p>

<p>Current time on page load: <%= Time.current.to_s %></p>

<%= lev_form_for :export_research_data, url: admin_research_data_path, method: :post do |f| %>
    <div>
      <%= f.label :from, 'From:' %>
      <%= f.text_field :from, class: "datepicker start" %>
      <%= f.label :from, 'UTC' %>
    </div>
    <div>
      <%= f.label :to, 'To:' %>
      <%= f.text_field :to, class: "datepicker end" %>
      <%= f.label :to, 'UTC' %>
    </div>

    <div>
      <%= check_box_tag :tutor %>
      <%= label_tag :tutor, 'Include Tutor' %>
    </div>
    <div>
      <%= check_box_tag :concept_coach %>
      <%= label_tag :concept_coach, 'Include Concept Coach' %>
    </div>

    <div>
      <%= submit_tag "Export Data", class: "btn btn-primary" %>
    </div>
  <% end %>
