<% method ||= :post %>

<%= lev_form_for :user, url: url, method: method, html: {class: 'form-horizontal'} do |f| %>
  <div class='form-group'>
    <%= f.label 'Username*', for: 'user_username', class: 'col-sm-2 control-label' %>
    <%= f.text_field :username %>
  </div>

  <% if @user.nil? %>
    <div class='form-group'>
      <%= f.label 'Password*', for: 'user_password', class: 'col-sm-2 control-label' %>
      <%= f.password_field :password %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label 'First name*', for: 'user_first_name', class: 'col-sm-2 control-label' %>
    <%= f.text_field :first_name %>
  </div class='form-group'>

  <div class='form-group'>
    <%= f.label 'Last name*', for: 'user_last_name', class: 'col-sm-2 control-label' %>
    <%= f.text_field :last_name %>
  </div class='form-group'>

  <div class='form-group'>
    <%= f.label 'Full name override', for: 'user_full_name', class: 'col-sm-2 control-label' %>
    <%= f.text_field :full_name %>
  </div class='form-group'>

  <div class='form-group'>
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <%= f.text_field :title %>
  </div>

  <% if @user.nil? %>
    <div class='form-group'>
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <%= f.text_field :email %>
    </div>
  <% end %>

  <div class='form-group'>
    <%= f.label :role, class: 'col-sm-2 control-label' %>
    <%= f.select :role, OpenStax::Accounts::Account.roles.keys.map{|rr| [rr, rr]} %>
  </div>

  <div class='form-group'>
    <%= f.label :administrator, class: 'col-sm-2 control-label' %>
    <%= check_box_tag 'user[administrator]', "1", @user.try(:is_admin?) %>
  </div>

  <div class='form-group'>
    <%= f.label :customer_support, class: 'col-sm-2 control-label' %>
    <%= check_box_tag 'user[customer_support]', "1", @user.try(:is_customer_support?) %>
  </div>

  <div class='form-group'>
    <%= f.label :content_analyst, class: 'col-sm-2 control-label' %>
    <%= check_box_tag 'user[content_analyst]', "1", @user.try(:is_content_analyst?) %>
  </div>

  <div class='form-group'>
    <%= f.label :researcher, class: 'col-sm-2 control-label' %>
    <%= check_box_tag 'user[researcher]', "1", @user.try(:is_researcher?) %>
  </div>

  <div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
