<% @page_header = "Users" %>


<%= form_tag '', method: :get do %>

<div class="input-group form-group">
   <%= text_field_tag :search_term, params[:search_term], class: 'form-control', placeholder: 'Search here' %>
   <span class="input-group-btn">
        <%= submit_tag 'Search', class: "btn btn-primary"  %>
   </span>
</div>


<% end %>

<% if params[:search_term].present? && @user_search.empty? %>
  <p>No users found.</p>
<% end %>

<% if @user_search.present? %>

  <%
    pagination = will_paginate(
      WillPaginate::Collection.create(params[:page] || 1, @per_page, @user_search.total_items) do |pager|
        pager.replace @user_search.items
      end
    )
  %>

  <%= pagination %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @user_search.items.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.name %></td>
          <td>
            <!-- User profile changes are not being propagated to Accounts yet, you can go to the Accounts admin console to edit users there. -->
            <!-- <%= link_to 'Edit', edit_admin_user_path(user.id), class: "btn btn-xs btn-primary" %> -->
              <%= link_to 'Sign in as', become_admin_user_path(user.account_id),
                                        method: :post, class: "btn btn-xs btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= pagination %>

<% end %>

<div><%= link_to 'Create user', new_admin_user_path, class: "btn btn-primary" %></div>
