<% method ||= :post %>

<%= lev_form_for :course, url: url, method: method do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :course_detail_school_id, 'School' %>
    <%= f.collection_select :course_detail_school_id,
                            @schools,
                            :id, :name,
                            { include_blank: true },
                            class: 'form-control' %>
  </div>

  <% unless @course.nil? %>
    <div class="form-group">
      <%= f.label :teacher, 'Assign teachers' %>
      <%= f.text_field :teacher, class: 'form-control', placeholder: 'Start typing to search for a user...' %>
      <ul id="assigned-teachers">
      <% @teachers.each do |teacher| %>
        <li><%= teacher.name %> (<%= teacher.username %>)</li>
      <% end %>
      <li class="hidden help-block">Click "Save" to assign the following teachers.</li>
      </ul>
    </div>
  <% end %>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
