<% @page_header = "Courses" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher(s)</th>
      <th>School</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.teacher_names.to_sentence %></td>
        <td><%= course.school_name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_course_path(course.id),
                              class: "btn btn-xs btn-primary" %>
          <%= link_to 'List Students', students_admin_course_path(course.id),
                                       class: 'btn btn-xs btn-primary' %>
          <%= link_to 'Export activity', export_activity_admin_course_path(course.id),
                                         id: "export_activity_course_#{course.id}",
                                         class: 'btn btn-xs btn-secondary',
                                         method: :post,
                                         remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add Course', new_admin_course_path, class: "btn btn-primary" %>
