<% @page_header = "Courses" %>

<%= render partial: 'manager/courses/search', locals: { query: @query } %>

<%= form_tag bulk_update_admin_courses_path, method: :post do |f| %>
  <%= render partial: 'manager/courses/index',
             locals: { course_infos: @course_infos,
                       bulk_actions: true,
                       incomplete_jobs: @incomplete_jobs,
                       failed_jobs: @failed_jobs,
                       extra_headers: ['Actions'],
                       page: params[:page],
                       per_page: @per_page,
                       total_count: @total_courses,
                       extra_fields_procs: [lambda do |course_info| %>
    <td>
      <%= link_to 'List Students', admin_course_students_path(course_info.id),
                                   class: 'btn btn-xs btn-primary' %>
      <%= link_to 'Edit', edit_admin_course_path(course_info.id), class: "btn btn-xs btn-primary" %>
      <% if course_info.teacher_names.empty? && course_info.periods.empty? %>
        <%= link_to 'Delete', admin_course_path(course_info.id),
                              method: :delete,
                              data: {
                                confirm: "Are you sure you want to delete #{course_info.name}?"
                              },
                              class: 'btn btn-xs btn-primary' %>
      <% end %>
    </td>
  <% end ] } %>

<% end %>

<br />
<%= link_to 'Add Course', new_admin_course_path, class: "btn btn-primary" %>
