<% @page_header = "Courses" %>

<%= render partial: 'manager/courses/tabs',
           locals: { incomplete_jobs: @incomplete_jobs, failed_jobs: @failed_jobs } %>
<br>
<%= render partial: 'manager/courses/search', locals: {
             query: @query, order_by: @order_by, total_count: @course_infos.try(:count)
           } %>
<%= form_tag bulk_update_admin_courses_path, method: :post do %>
  <%= hidden_field_tag :query, @query %>
  <%= hidden_field_tag :order_by, @order_by %>
  <%= render partial: 'manager/courses/index',
             locals: { course_infos: @course_infos,
                       bulk_actions: true,
                       extra_headers: ['Actions'],
                       page: params[:page],
                       per_page: params[:per_page],
                       incomplete_jobs: @incomplete_jobs,
                       failed_jobs: @failed_jobs,
                       job_path_proc: ->(job) { admin_job_path(job.id) },
                       extra_fields_procs: [ lambda do |course_info| %>
    <td>
      <%= link_to 'List Students', admin_course_students_path(course_info.id), style: 'display:block' %>
      <%= link_to 'Edit Course', edit_admin_course_path(course_info.id), style: 'display:block' %>
      <% if course_info.teachers.empty? && course_info.periods.empty? %>
        <%= link_to 'Delete', admin_course_path(course_info.id),
                              method: :delete,
                              data: {
                                confirm: "Are you sure you want to delete #{course_info.name}?"
                              },
                              style: 'display:block' %>
      <% end %>
    </td>
  <% end ] } %>

<% end %>

<br />
<%= link_to 'Add Course', new_admin_course_path, class: "btn btn-primary" %>
