<!DOCTYPE html>
<html>
<head>
  <title>Tutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user.is_anonymous? %>
  <%= link_to 'Sign in!', with_interceptor { openstax_accounts.login_path } %>
<% else %>
  <%= link_to 'Sign out!', openstax_accounts.logout_path, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
