<!DOCTYPE html>
<html>
<head>
  <title>Tutor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Sign in!', with_interceptor { openstax_accounts.login_path } %>

<%= yield %>

</body>
</html>
