<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>OpenStax Tutor : Customer Service</title>
    <%= stylesheet_link_tag 'customer_service', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'customer_service', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <nav class="navbar navbar-default <%= 'production' if is_real_production_site? %>">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/customer_service">Tutor Customer Service Console</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Courses', courses_customer_service_stats_path %></li>
                <li><%= link_to 'Excluded Exercises',
                                excluded_exercises_customer_service_stats_path %></li>
                <li><%= link_to 'Concept Coach', concept_coach_customer_service_stats_path %></li>
              </ul>
            </li>

            <li><%= link_to 'Courses', customer_service_courses_path %></li>
            <li><%= link_to 'Users', customer_service_users_path %></li>
            <li><%= link_to 'Tags', customer_service_tags_path %></li>
            <li><%= link_to 'Ecosystems', customer_service_ecosystems_path %></li>
            <li><%= link_to 'Jobs', customer_service_jobs_path %></li>
            <li><%= link_to 'Salesforce', customer_service_salesforce_path %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/dashboard">Main Dashboard</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Sign out!', openstax_accounts.logout_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <div class="page-header">
        <h1><%= @page_header %></h1>
      </div>

      <%= render 'layouts/flash_messages' %>

      <%= yield %>
    </div>

  </body>
</html>
