<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= code %> error - OpenStax</title>
    <%= stylesheet_tag %>
  </head>
  <body>
    <div class='static-error'>
      <div class='no-css-message'>To see this page properly styled, precompile assets</div>
      <div class='logo'></div>
      <section id="error">
        <h1><%= heading %></h1>
        This is a <%= code %> error.  Please <%= link_to "contact support", TUTOR_CONTACT_SUPPORT_URL %> if you need assistance or <%= link_to "return to the home page", root_path %>.
      </section>
    </div>
  </body>
</html>
