<!DOCTYPE html>
<html>
<head>
  <title>OpenStax Tutor</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_HTMLorMML-full&amp;delayStartupUntil=configured" async></script>
  <script type='text/javascript' src='https://c.la2-c2-dfw.salesforceliveagent.com/content/g/js/39.0/deployment.js'></script>
  <%= Tutor::Assets.tags_for("tutor") %>
  <%= csrf_meta_tags %>
  <%= render 'webview/google_analytics' %>
</head>
<body>
  <script id="tutor-boostrap-data" type="application/json"><%=raw json_escape bootstrap_data %></script>
  <%= yield %>

</body>
</html>
